@use "sass:map";
@use "../settings/colors.settings.scss";

input.input {
  background-color: map.get(colors.$colors, "background");
  max-width: 300px;
  height: 40px;
  padding: 10px;
  border: 2px solid map.get(colors.$colors, "text");
  border-radius: 5px;
  width: 100%;
  color: white;
  &:focus, &:focus-visible {
    color: map.get(colors.$colors, "primary");
    background-color: map.get(colors.$colors, "background");
    border: 2px solid map.get(colors.$colors, "primary");
    transition: 0.1s;
    transition-property: border;
    outline: none;
  }
}
